body{
    height: 100vh;
}

tr,th,td{
    min-width:80px;
    border:1px solid #333;
    
   
} 
table{
    border-collapse: collapse;
    width:auto;
    overflow-x: auto;
    line-height: 20px;
}
td:focus{
    outline: none;
    background-color: #b8b8b8;
}

.button-container{
    display: flex;
    justify-content:space-evenly;
    gap:10px;
    margin-bottom: 10px;
    padding:5px;
}
button{
    border:none;
    border-radius: 5px;
    padding:10px,0;
}
label{
    color: white;
}
